In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json
import geopandas as gpd
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("C:/Users/Shetty/OneDrive/Desktop/NYU/Independent Study/NREL/MapPLUTO/pluto_22v3.csv")
df.head()

,borough,block,lot,cd,bct2020,bctcb2020,ct2010,cb2010,schooldist,council,zipcode,firecomp,policeprct,healthcenterdistrict,healtharea,sanitboro,sanitdistrict,sanitsub,address,zonedist1,zonedist2,zonedist3,zonedist4,overlay1,overlay2,spdist1,spdist2,spdist3,ltdheight,splitzone,bldgclass,landuse,easements,ownertype,ownername,lotarea,bldgarea,comarea,resarea,officearea,retailarea,garagearea,strgearea,factryarea,otherarea,areasource,numbldgs,numfloors,unitsres,unitstotal,lotfront,lotdepth,bldgfront,bldgdepth,ext,proxcode,irrlotcode,lottype,bsmtcode,assessland,assesstot,exempttot,yearbuilt,yearalter1,yearalter2,histdist,landmark,builtfar,residfar,commfar,facilfar,borocode,bbl,condono,tract2010,xcoord,ycoord,zonemap,zmcode,sanborn,taxmap,edesignum,appbbl,appdate,plutomapid,firm07_flag,pfirm15_flag,version,dcpedited,latitude,longitude,notes
0,MN,574,65,102.0,1006300.0,1.006300e+10,63.0,2001.0,2.0,3.0,10011.0,E033,6.0,15.0,5700.0,1.0,2.0,3A,41 WEST 10 STREET,R6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,C6,2.0,0.0,NaN,UNAVAILABLE OWNER,2321.0,6540.0,0.0,6540.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,4.0,5.0,5.0,24.5,94.75,25.0,80.00,E,3.0,N,5.0,1.0,567000.0,2223000.0,0.0,1839.0,1989.0,0.0,Greenwich Village Historic District,NaN,2.82,2.43,0.0,4.8,1,1.005740e+09,NaN,63.0,984990.0,206856.0,12c,NaN,103 019,10207.0,NaN,NaN,NaN,1,NaN,NaN,22v3,t,40.734448,-73.997330,NaN
1,BK,3435,45,304.0,3041100.0,3.041100e+10,411.0,1000.0,32.0,37.0,11207.0,Q252,83.0,34.0,3500.0,3.0,4.0,3B,177 COOPER STREET,R6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,B2,1.0,0.0,NaN,"WASHINGTON, TIFFANIE L",2000.0,1800.0,0.0,1800.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,2.0,2.0,20.0,100.00,20.0,45.00,N,3.0,N,5.0,2.0,12300.0,74940.0,1460.0,1901.0,0.0,0.0,NaN,NaN,0.90,2.43,0.0,4.8,3,3.034350e+09,NaN,411.0,1010129.0,190246.0,17c,NaN,309 021,31109.0,NaN,NaN,NaN,1,NaN,NaN,22v3,NaN,40.688820,-73.906684,NaN
2,BK,3447,29,304.0,3041100.0,3.041100e+10,411.0,1002.0,32.0,37.0,11207.0,Q252,83.0,34.0,3500.0,3.0,4.0,3B,222 MOFFAT STREET,M1-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,B1,1.0,0.0,NaN,JDC HOME INC.,2000.0,2200.0,0.0,2200.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,2.0,2.0,20.0,100.00,20.0,55.00,N,3.0,N,5.0,2.0,11940.0,75780.0,0.0,1910.0,0.0,0.0,NaN,NaN,1.10,0.00,1.0,2.4,3,3.034470e+09,NaN,411.0,1010530.0,190085.0,17c,NaN,309 021,31109.0,NaN,NaN,NaN,1,NaN,NaN,22v3,NaN,40.688377,-73.905239,NaN
3,BX,2514,10,204.0,2019300.0,2.019300e+10,193.0,4001.0,9.0,8.0,10452.0,E068,44.0,23.0,3310.0,2.0,4.0,2A,1082 OGDEN AVENUE,R7-1,NaN,NaN,NaN,C1-4,NaN,NaN,NaN,NaN,NaN,N,A1,1.0,0.0,NaN,"PINEDA, ARELIS",2875.0,1710.0,0.0,1710.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,1.0,1.0,25.0,115.00,19.0,42.67,N,1.0,N,5.0,2.0,14340.0,34560.0,0.0,1899.0,0.0,0.0,NaN,NaN,0.59,3.44,0.0,4.8,2,2.025140e+09,NaN,193.0,1004213.0,243491.0,3b,NaN,210S041,20908.0,NaN,NaN,NaN,1,NaN,NaN,22v3,NaN,40.834979,-73.927858,NaN
4,MN,482,7501,102.0,1004500.0,1.004500e+10,45.0,1006.0,2.0,1.0,10013.0,E055,5.0,15.0,6800.0,1.0,2.0,1A,406 BROOME STREET,C6-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,RB,5.0,0.0,NaN,LAFAYETTE COMMERCL CONDO,11750.0,74349.0,74349.0,0.0,9849.0,64500.0,0.0,0.0,0.0,0.0,2.0,1.0,7.0,0.0,25.0,149.5,100.42,0.0,0.00,NaN,0.0,Y,5.0,5.0,1143002.0,6811650.0,0.0,1900.0,0.0,0.0,SoHo-Cast Iron Historic District Extension,NaN,6.33,6.02,6.0,6.5,1,1.004828e+09,463.0,45.0,984876.0,202030.0,12c,NaN,101N073,10206.0,E-130,1.004821e+09,08/25/1988,1,NaN,NaN,22v3,NaN,40.721202,-73.997742,NaN

In [3]:
df['borough'].value_counts()

QN    324591
BK    276561
SI    125167
BX     89605
MN     42695
Name: borough, dtype: int64

#### Columns to be considered
- borough
- cd
- landuse
- unitstotal

In [4]:
df_grouped = df.groupby(['borough', 'cd','landuse'])['unitstotal'].sum()
df_grouped = pd.DataFrame(df_grouped)

In [5]:
pd.DataFrame(df_grouped).head()

                       unitstotal
borough cd    landuse
BK      101.0 11.0            0.0
        103.0 7.0             1.0
              11.0            0.0
        106.0 7.0             0.0
              11.0            0.0

In [6]:
#df_grouped.to_csv("Pluto_units.csv")

In [7]:
df_grouped=df_grouped.reset_index()

In [8]:
df_grouped.head()

  borough     cd  landuse  unitstotal
0      BK  101.0     11.0         0.0
1      BK  103.0      7.0         1.0
2      BK  103.0     11.0         0.0
3      BK  106.0      7.0         0.0
4      BK  106.0     11.0         0.0

In [9]:
df_grouped['cd'].nunique()

70

In [10]:
df['cd'].nunique()

70

In [11]:
df['borough'].value_counts()

QN    324591
BK    276561
SI    125167
BX     89605
MN     42695
Name: borough, dtype: int64

In [12]:
df_grouped.to_csv("Pluto_units.csv")